<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ site.meta.description }}">
    <meta name="keywords" content="{{ site.meta.keywords }}">
    <title>
      {% if title %}
        {{ title }} | {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/bundle.css">
    {% block style %}{% endblock %}
  </head>

  <body>
    {% include "partial/navbar.njk" %}

    {% block main %}
      {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}
      {% include "partial/footer.njk" %}
    {% endblock %}

    <script src="/assets/js/bundle.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block script %}{% endblock %}
  </body>

</html>
