<nav class="navbar navbar-dark navbar-expand-sm">
  <a class=" navbar-brand" href="/">{{ site.name }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in menu.left %}
        {% include 'partial/menu_item.njk' %}
      {% endfor %}
    </ul>

    <ul class="navbar-nav">
      {% for item in menu.right %}
        {% include 'partial/menu_item.njk' %}
      {% endfor %}
    </ul>
  </div>
</nav>
